<div>
    <mat-toolbar class="app-header">
    <div><a href="#" target="_blank" class="positronx">Design and Analysis of Algorithm</a></div>
  </mat-toolbar>
  </div>
  <div class="show">
<div class="tablediv">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="algorithm">
      <th mat-header-cell *matHeaderCellDef> Alogorithm </th>
      <td mat-cell *matCellDef="let element"> {{element.algorithm}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="small">
      <th mat-header-cell *matHeaderCellDef> Small  </th>
      <td mat-cell *matCellDef="let element"> {{element.small}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="avg">
      <th mat-header-cell *matHeaderCellDef> Avg </th>
      <td mat-cell *matCellDef="let element"> {{element.avg}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="large">
      <th mat-header-cell *matHeaderCellDef> Large </th>
      <td mat-cell *matCellDef="let element"> {{element.large}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>
    <canvas id="ctx"></canvas>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-raised-button class="buttons" (click)="averageData()">
        Average
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button class="buttons" (click)="largeData()">
        Large
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button class="buttons" (click)="smallData()">
        Small
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button class="buttons" (click)="allData()">
        All
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button class="buttonreset" (click)="returnHomePage()">
        Back
    </button>
  </div>
</div>